@{
    ViewData["Title"] = "Confirmation";
}

<h3>Congratulations, your changes have been saved.</h3>

<a class="btn" style="background-color:lightblue" asp-controller="Home" asp-action="Index">Home</a>